# adjustText==1.2.0
# certifi==2024.2.2
# genomepy==0.16.1
# goatools==1.4.12
# h5py==3.11.0
# joblib==1.4.2
# matplotlib==3.6.3
networkx>=3.4
# numba==0.60.0
# numpy==1.26.4
# pandas==2.2.2
# plotly==5.23.0
# pybedtools==0.10.0
pysal==24.1
# python_igraph==0.11.6
# scanpy==1.10.2
# scikit_learn==1.5.1
# scipy==1.14.0
# scipy>=1.11.0
# seaborn==0.13.2
torch
torchvision
# tqdm==4.66.4
pyarrow
enlighten
pyro-ppl
# commot
group-lasso
pqdm
magic-impute
wordcloud
# pysankeybeta
easydict
# velocyto==0.17.17
# shiny>=0.6.0
# scanpy>=1.10.0
# pandas>=2.0.0
# numpy==1.24.0
anndata==0.12.10
# matplotlib>=3.7.0
sphinx
sphinx-rtd-theme
nbsphinx
jscatter
simple_slurm
google-cloud-batch
group_lasso
easydict
cellrank>=2.3.2
plotly
adjustText